// Typo
.typo {
    color: white;

    &_h1 {
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 2px;
        line-height: 1.5;
        text-transform: uppercase;
    }

    &_h2 {
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 2px;
        line-height: 1.2;
        text-transform: lowercase;
    }

    &_p {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 2px;
        line-height: 1.2;
        text-transform: lowercase;
    }
}

// Page
.page {
    font-size: 20px;
    min-height: 80vh;
    background-color: black;
    background-image: url('../images/page-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::after {
        content: '';
        background-image: url('../images/fixed-bg.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: left;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
    }
}

.page__header {
    position: absolute;
    width: 100%;
}

.page__main {
    min-height: 100vh;
}

// Header
.header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Logo
.logo {}

// Nav
.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav__item {
    margin-left: 50px;
}

.nav__link {
    color: white;
    text-transform: lowercase;
    white-space: nowrap;
    

    &:hover {
        color: gold;
    }
}

// Main
.main {
    display: flex;
    justify-content: flex-end;
}

.main__intro {
    width: calc(100% / 3);
}

.main__content {
    width: calc(100% / 3);
}

// Intro
.intro {
    border-right: 1px solid white;
}

.intro__title {
    text-align: right;
    padding: 0 10px;
    padding-top: 100px;
    margin: 0;
    border-bottom: 1px solid white;

    &:hover {
        background-color: rgba(red, 0.1);
    }
}

.intro__description {
    text-align: right;
    padding: 10px;
}

.intro__description {}

// Content
.content {}

.content__description {}

.content__cta {

}